@media (max-width: 992px){

    .my-name{
        font-size: 18px;
    }
    .my-header{
        font-size: 12px;
    }
    .my-description{
        font-size: 10px;
    }
    .html-progress-head{
        font-size: 12px;
    }

  
}
@media (max-width: 768px){
    #main-hero-area {
        padding: 71px 15px 70px 15px;
    }
    .welcome{
        font-size: 10px;
        margin-bottom: -7px;
    }
    .my-name {
        font-size: 13px;
    }
    .my-header {
        font-size: 8px;
        line-height: 10px;
        margin-top: 5px;
    }
    .hero-bottom{
        flex-wrap: wrap;
    }
    .myexpartness{
        font-size: 10px;
    }
    .progress-area{
       
        padding: 0px 0px 12px 0px;
    }
}
@media (max-width: 481px){
   
    .welcome{
        font-size: 8px;
    }
    .my-name{
        font-size: 12px;
    }
    .my-header {
        font-size: 7px;
        margin-bottom: 0;
    }
    .my-description {
        font-size: 8px;
        -webkit-text-stroke: #F5F5F5 0.1px;
        line-height: 10px;
    }
    .progress-area {
     
    }
}