@media (max-width: 992px){

    .my-name{
        font-size: 18px;
    }
    .my-header{
        font-size: 12px;
    }
    .my-description{
        font-size: 10px;
    }
    .html-progress-head{
        font-size: 12px;
    }

  
}
@media (max-width: 768px){
    .hero-bottom{
        flex-wrap: wrap;
    }
    .progress-area{
        width: 48%;
    }
}