
/* typography*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #04031a;
    height: -webkit-fill-available;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
img{
    width: 100%;
}

html{
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}


/*<====================================>
<======================================>
<===========Home page Start============>
<======================================>
<======================================>*/

/*----header area start----*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: #0f1037;
    z-index: 99999999;
    width: 100%;
    padding: 0  20px 20px 20px;
}
.toggle{
    color: #20FF00;
    font-size: 30px;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    height: 40px;
}
.cross{
    display: none;
}

.logo{
    width: 50px;
   
}
/*----header area end---*/


/*----menu area start----*/
.menu{
    height: 100vh;
    width: 60px;
    background: #0f1037;
    padding: 40px 15px 0px 9px;
    margin-left: -.75rem;
    float: left;
}
.menulist{
    padding-left: 0;
}
.menubar{
    margin-top: 50px;
}
.nav-title{
    opacity: 0;
}
.navlink{
    display: flex;
    align-items: center;
    color: #20FF00;
    -webkit-text-stroke: #00FBD8 .4px;
    column-gap: 50px;
    background: #04031a;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 11px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    font-family: 'gotham ';
    height: 37px;
    overflow: hidden;
}
.navlink:hover{
    color: #1baa6f;
    -webkit-text-stroke: #00FBD8 .4px;
    background: #09063b;
}
/*----menu area end----*/


/*----hero area stat----*/
.main-content-area{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: calc(100%-60px);
    
}
#main-hero-area{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 100px 30px 100px 30px;
    
}
.hero{
    
  
}
.hero-top{
    text-align: center;
   
}

.welcome{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #F9E900;
    animation: welcome 2s infinite;
    -webkit-text-stroke: #F5F5F5 .3px;
}
@keyframes welcome{
    0%{
        color: #F9E900;
    }
    25%{
        color: #3eff0e;
    }
    50%{
        color: #0cfb97;
    }
    75%{
        color: #ff4444;
    }
    100%{
        color: #fc23d1;
    }
}
.my-name{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #f06, rgb(18, 230, 11));
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; 
    transition: 2s ease;
    animation: myname 10s infinite;
    -webkit-text-stroke: #F5F5F5 .4px;
}
@keyframes myname{
    0% {
        background-image: linear-gradient(to right, #f06, #9f6);
      }
      25% {
        background-image: linear-gradient(to right, #9f6, #6f9);
      }
      50% {
        background-image: linear-gradient(to right, #6f9, #f09);
      }
      75% {
        background-image: linear-gradient(to right, #f09, #f6c);
      }
      100% {
        background-image: linear-gradient(to right, #f6c, #f06);
      }
}

.my-name::after{
    content: ' ';
    background-image: linear-gradient(to right, #f06, rgb(18, 230, 11));
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
    border-radius: 5px;
    position: absolute;
}
.my-header{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20FF00;
    margin-top: 0;
    -webkit-text-stroke: #F5F5F5 .5px;
}
.my-description{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #00FBD8;
    overflow: hidden;
    -webkit-text-stroke: #F5F5F5 .3px;
}
.my-description span {
    display: inline-block;
    opacity: 0;
    transform: translateX(1em);
    animation: reveal 1s forwards;
}
.myexpartness{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #20FF00;
    margin-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    -webkit-text-stroke: #F5F5F5 .5px;
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateX(1em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    
}

.progress-area{
    /* background: #0f1037; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    row-gap: 10px;
    width: 125px;
    
    
}

.skill{
    position: relative;
}
.outer{
    height: 120px;
    width: 120px;
    padding: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(28, 30, 108, 1);
    border-radius: 50%;
    position: relative;
    
}
.inner{
    inset: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(28, 30, 108, 1),
    -0.5px -0.5px 0px rgba(28, 30, 108, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 345;
    stroke-dashoffset: 345;
    
}
#html circle{
    animation: anim 4.1s linear forwards;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 17.25;
    }
}
#css circle{
    stroke: url(#CssGradientColor);
    animation: cssanim 4s linear forwards;
}

@keyframes cssanim{
    100%{
        stroke-dashoffset: 24.15;
    }
}
#js circle{
    stroke: url(#JsGradientColor);
    animation: jsanim 2.9s linear forwards;
}

@keyframes jsanim{
    100%{
        stroke-dashoffset: 117.30;
    }
}
#bootstrap circle{
    stroke: url(#bootGradientColor);
    animation: bootstrapanim 3.8s linear forwards;
}

@keyframes bootstrapanim{
    100%{
        stroke-dashoffset: 37.95;
    }
}
.progress-bg{
    position: absolute;
    top: 0;
    left: 0;
}

.progress-value{
    color: #45e324;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Gotham';
}
.html-progress-head{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    color: #0cfb97;
    text-transform: uppercase;
    font-family: 'poppins';
    -webkit-text-stroke: #C988FF .5px;
    text-align: center;
}




/*----hero area end----*/


/* service area start */

#service{
  padding-top: 80px;
}

.service-heading{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.service-heading>h1{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 146%;
    text-align: center;
    color: #b153ff;
}
.service-underline{
    content: '';
    background: #1e49c0;
    height: 6px;
    margin-left: 13%;
    width: 73%;
    border-radius: 28px;
    
}



.service-main-area{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.service-area{
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    background: #0f1037;
    box-shadow: 2px 5px 21px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 25px;
    border: 6px solid #140c6c;
}
.service-images {
    width: 80px;
  }
.responsive-service{
    display: none;
}
.small-screen{
    display: none;
}
.smallest-screen{
    display: none;
}
.service-area span{
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    font-family: 'Inter';
    color: #f815ff;
    -webkit-text-stroke: #3AF9F9 .2px;
}

  /* service area end */

  /* why contact us section start */

.why-choosus-bg{
    background: url(../images/homepage/video.gif) no-repeat 0 0 / 100% 100%;
    margin: 30px 0 -70px 0;
}
.whychoosus-title{
    padding-top: 52px;
    padding-bottom: 110px;
}
.whychoosus-title>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 134.02%;
    text-align: center;
    color: #3AF9F9;
}
.whychoosus-title>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 134.02%;
    text-align: center;
    color: #ACFF19;
}

.choosuscatagory-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f1037;
    box-shadow: 2px 5px 21px rgba(0, 0, 0, 0.25);
    margin: 0 40px;
   
    
   
    
}
.chooscatagory{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 38px;
    padding-bottom: 44px;
    border-right: 1px solid #350FBF;
}
.chooscatagory:last-child{
    border-right: none;
}
.chooscatagory>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 134.02%;
    text-align: center;
    color: #f815ff;
    margin-top: 25px;
}
.chooscatagory{
    width: 25%;
}
.catagorylogo{
   
}
.catagorylogo>img{
    width: 100%;
}

  /* why contact us section end */

  /* about us area start */
  .about-us-area{
    margin-top: 50px;
  }
  .about-us-main-area{
    background: #0f1037;
    border-radius: 20px;
    padding: 40px;
  }
  .about-us-main-area h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 134.02%;
    text-align: center;
    color: #f815ff;
    margin-top: 25px;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
  }
 
  .my_picture{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }
  .about-us-main-content-area{
    background: #8a78fd;
    padding: 100px 0;
  }
  .my_picture_are h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 134.02%;
    text-align: center;
    color: #15399E;
    text-transform: capitalize;

  }
  .my_picture::after{
    width: 94%;
    height: 100px;
    content: ' ';
    background: #7900b1;
    position: absolute;
    bottom: -40px;
    left: 0;
    
    z-index: 1;
    animation: picborder 3s ease;
  }
  @keyframes picborder {
    0%{
        width: 0;
    }
    100%{
        width: 94%;
    }
  }
  .my-picture-main-area {
    z-index: 2;
    width: 250px;
    height: 300px;
    /* border: 5px solid #0fe645; */
    overflow: hidden;
    opacity: 0; /* Initially hide the element */
    animation: mypicture 3s forwards; /* Apply the animation */
  }

  .my-picture-main-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes mypicture {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .about-us-content-area{
    background: #C988FF;
    padding: 40px;
    margin-right: 50px;
    height: 100%;
    border-radius: 10px;
  }
  .about-us-content-area p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 134.02%;
    text-align: left;
    color: #ACFF19;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .about_content_devider{
    border-left: 4px solid #c31af2;
    position: relative;
  }
  .about_content_devider::after{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: ' ';
    background: #c31af2;
    position: absolute;
    top: 6px;
    left: -7px;
  }
  /* about us area end */

  #world-map {
    width: 100%;
    height: 100%;
    }
  /* footer area start */
  .footer{
    position: fixed;
    bottom: 0;
    background: #0f1037;
    z-index: 999999999999;
    width: 100%;
    color: #00FBD8;
    text-align: center;
}

.footer h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    color: #3eff0e;
    padding-top: 7px;
}

.about-area{
    background: #0f1037;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}

.bottom-logo{
    width: 120px;
    margin-top: -40px;
}
.address-area , .help-center , .subscribe{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    

}
.name{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #3eff0e;
}

.mobile-number{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3eff0e;
}
.email-address{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3eff0e;
}
.address{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3eff0e;
}
.help{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3eff0e;
    text-transform: uppercase;
}
.subscribs , .subscribe-btn , .finishing-describe{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3eff0e;
    text-transform: uppercase;
}
.subscribe-btn{
    padding: 7px 15px;
    background-color: #0f1037;
    border: 1px solid #3eff0e;
    border-radius: 5px ;
}
.subscribe-btn:hover{
    background-color: #18193b;
    border: 1px solid #30b60e;
   
}
.end-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}
.finishing-describe{
    text-align: center;
}
 /* footer area end */
 

/*<======================================>
<========================================>
<===========Home page END================>
<========================================>
<======================================>*/



/*<======================================>
<========================================>
<===========login page START=============>
<========================================>
<=====================================> */

.loginpage-area{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}


.woner-pic{
    background: #0f1037;
    box-shadow: 2px 5px 21px rgba(0, 0, 0, 0.25);
    padding: 50px;
    border-radius: 25px;
    width: 400px;
}
.woner-pic>img{
    filter: brightness(31%);
}


.mainloginarea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    background: #0f1037;
    box-shadow: 2px 5px 21px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 25px;
}
.mainloginarea h1{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #8a78fd;
    display: inline-block;
    -webkit-text-stroke: #15399E .4px;
    margin-top: 18px;
}
.mainloginarea p{
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    color: #0fe645;
    margin-bottom: 0;
}
.inputloginemail{
    position: relative;
    margin-top: 34px;
    margin-bottom: 24px;
    width: 325px;
    border: 1px solid #00FBD8;
    border-radius: 10px;
}
.inputloginemail input{
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #20FF00;
    border: 1px solid rgba(0, 0, 0, 0.42);
    filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    text-align: left;
    background: #000000;
}
.email-icon{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 6px;
    left: 10px;
    color: #20FF00;
    font-size: 19px;
}

.inputloginpassword{
    position: relative;
    margin-bottom: 15px;
    width: 325px;
    border: 1px solid #00FBD8;
    border-radius: 10px;
}
.inputloginpassword input{
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #20FF00;
    border: 1px solid rgba(0, 0, 0, 0.42);
    filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    text-align: left;
    background: #000000;
}
.password{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 6px;
    left: 10px;
    color: #20FF00;
    font-size: 19px;
}
.loginploginbtn{
    font-family: 'Viga';
    font-weight: 400;
    font-size: 21px;
    color: #20FF00;
    border-radius: 10px;
    background: #140c6c;
    border: 1px solid #00FBD8;
    padding: 7px 20px;
    -webkit-text-stroke: #00FBD8 .5px;
}
.loginareabottom{
    text-align: center;
}
.loginareabottom p{
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #00FBD8;
}
.loginareabottom p button{
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #0cfb97;
    background: none;
    border: none;
}
.mainloginarea h2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #20FF00;
    position: relative;
    text-align: center;


}
.mainloginarea h2::after{
    content: ' ';
    border: 1px solid #00FBD8;
    position: absolute;
    width: 68%;
    left: -79px;
    top: 10px;
}
.mainloginarea h2::before{
    content: ' ';
    border: 1px solid #00FBD8;
    position: absolute;
    width: 68%;
    right: -79px;
    top: 10px;
}
.loginpagesocialicon{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.loginpagesocialicon >a{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1e49c0;
    color: #FFFFFF;
    border: 1px solid #04031a;
    padding-top: 2px;

}
.loginpagesocialicon >a:hover{
    color: #0fe645;
}
